<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.hash.test.dao.mapper.task.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.sf.hash.test.dao.domain.task.Task" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_type" property="taskType" jdbcType="VARCHAR" />
    <result column="biz_catg_id" property="bizCatgId" jdbcType="INTEGER" />
    <result column="start_tm" property="startTm" jdbcType="TIMESTAMP" />
    <result column="end_tm" property="endTm" jdbcType="TIMESTAMP" />
    <result column="limit_tm" property="limitTm" jdbcType="TIMESTAMP" />
    <result column="start_node" property="startNode" jdbcType="VARCHAR" />
    <result column="end_node" property="endNode" jdbcType="VARCHAR" />
    <result column="biz_entity" property="bizEntity" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_type, biz_catg_id, start_tm, end_tm, limit_tm, start_node, end_node, biz_entity, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sf.hash.test.dao.domain.task.Task" >
    insert into order_task (id, task_type, biz_catg_id, 
      start_tm, end_tm, limit_tm, 
      start_node, end_node, biz_entity, 
      status)
    values (#{id,jdbcType=BIGINT}, #{taskType,jdbcType=VARCHAR}, #{bizCatgId,jdbcType=INTEGER}, 
      #{startTm,jdbcType=TIMESTAMP}, #{endTm,jdbcType=TIMESTAMP}, #{limitTm,jdbcType=TIMESTAMP}, 
      #{startNode,jdbcType=VARCHAR}, #{endNode,jdbcType=VARCHAR}, #{bizEntity,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.hash.test.dao.domain.task.Task" >
    insert into order_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="bizCatgId != null" >
        biz_catg_id,
      </if>
      <if test="startTm != null" >
        start_tm,
      </if>
      <if test="endTm != null" >
        end_tm,
      </if>
      <if test="limitTm != null" >
        limit_tm,
      </if>
      <if test="startNode != null" >
        start_node,
      </if>
      <if test="endNode != null" >
        end_node,
      </if>
      <if test="bizEntity != null" >
        biz_entity,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="bizCatgId != null" >
        #{bizCatgId,jdbcType=INTEGER},
      </if>
      <if test="startTm != null" >
        #{startTm,jdbcType=TIMESTAMP},
      </if>
      <if test="endTm != null" >
        #{endTm,jdbcType=TIMESTAMP},
      </if>
      <if test="limitTm != null" >
        #{limitTm,jdbcType=TIMESTAMP},
      </if>
      <if test="startNode != null" >
        #{startNode,jdbcType=VARCHAR},
      </if>
      <if test="endNode != null" >
        #{endNode,jdbcType=VARCHAR},
      </if>
      <if test="bizEntity != null" >
        #{bizEntity,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.hash.test.dao.domain.task.Task" >
    update order_task
    <set >
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="bizCatgId != null" >
        biz_catg_id = #{bizCatgId,jdbcType=INTEGER},
      </if>
      <if test="startTm != null" >
        start_tm = #{startTm,jdbcType=TIMESTAMP},
      </if>
      <if test="endTm != null" >
        end_tm = #{endTm,jdbcType=TIMESTAMP},
      </if>
      <if test="limitTm != null" >
        limit_tm = #{limitTm,jdbcType=TIMESTAMP},
      </if>
      <if test="startNode != null" >
        start_node = #{startNode,jdbcType=VARCHAR},
      </if>
      <if test="endNode != null" >
        end_node = #{endNode,jdbcType=VARCHAR},
      </if>
      <if test="bizEntity != null" >
        biz_entity = #{bizEntity,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.hash.test.dao.domain.task.Task" >
    update order_task
    set task_type = #{taskType,jdbcType=VARCHAR},
      biz_catg_id = #{bizCatgId,jdbcType=INTEGER},
      start_tm = #{startTm,jdbcType=TIMESTAMP},
      end_tm = #{endTm,jdbcType=TIMESTAMP},
      limit_tm = #{limitTm,jdbcType=TIMESTAMP},
      start_node = #{startNode,jdbcType=VARCHAR},
      end_node = #{endNode,jdbcType=VARCHAR},
      biz_entity = #{bizEntity,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>